<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Cadastro/Loguin</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      .button {
          padding: 1%;
          position: relative;
          top: 0px;
          left: 0px;
      }
      .cadastrar{
        align: right;
      }

 

      </style>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">iSport</a>
        
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Login/Cadastro
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Login/Cadastro</li>
      </ol>

      <form class="form-horizontal">
        <fieldset>
        
            <table>
                <tr>
                    <td> 
                        <legend>Já sou cadastrado</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="txtproduto">Email: </label>  
                            <div class="col-md-6">
                            <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                              
                            </div>
                          </div>
                  
                                  
                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="txtcodigo_produto_id">Senha : </label>  
                            <div class="col-md-2">
                            <input id="txtcodigo_produto_id" name="txtcodigo_produto_id" type="text" placeholder="" class="form-control input-md">
                              
                            </div>
                          </div>
                          <div>
                          <a href="#">Esqueceu sua senha?</a>
                          </div>
                              <div class="button">
                                  <a href="index.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Entrar</a>
                            </div>
                    </td>
                    <td>
                        <legend>Quero me cadastrar</legend>
                        <!-- Text input-->
                        <div class = "cadastrar">
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="txtproduto">Nome: </label>  
                          <div class="col-md-6">
                          <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                              
                          </div>
                        </div>
              
                                <!-- Text input-->
                      <div class="form-group">
                        <label class="col-md-4 control-label" for="txtproduto">Sobrenome: </label>  
                        <div class="col-md-6">
                        <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                          
                        </div>
                      </div>
                              <!-- Text input-->
                      <div class="form-group">
                          <label class="col-md-4 control-label" for="txtproduto">Cpf: </label>  
                          <div class="col-md-6">
                              <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                                  
                          </div>
                          </div>
              
                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="txtproduto">Data de nascimento: </label>  
                            <div class="col-md-6">
                            <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                                  
                          </div>
                          </div>
              
                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="txtcodigo_produto_id">Telefone de contato : </label>  
                            <div class="col-md-2">
                           <input id="txtcodigo_produto_id" name="txtcodigo_produto_id" type="text" placeholder="" class="form-control input-md">
                          
                          </div>
                          </div>
              
                          <legend>Dados de acesso no iSport</legend>
              
                                      <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="txtproduto">Email: </label>  
                                  <div class="col-md-6">
                                  <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                                              
                                  </div>
                              </div>
              
                                         <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="txtcodigo_produto_id">Confirmar email : </label>  
                            <div class="col-md-2">
                           <input id="txtcodigo_produto_id" name="txtcodigo_produto_id" type="text" placeholder="" class="form-control input-md">
                          
                          </div>
                          </div>
              
                                            <!-- Text input-->
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" for="txtproduto">Senha: </label>  
                                                  <div class="col-md-6">
                                                  <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                                                              
                                                  </div>
                                              </div>
              
                                                                <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="txtproduto">Confirmar senha: </label>  
                                  <div class="col-md-6">
                                  <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="">
                                              
                                  </div>
                              </div>
                          <input type = "checkbox" > Li e concordo com os termos de uso
                          
                          </div>
                      
                      <div class="button">
                          <a href="index.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Cadastrar</a>
                      </div>
                    </td>
                  </tr>
            </table>
        <!-- Form Name -->
        

        
        <!-- Text input-->
        

        
      <p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You can view all of our unstyled templates on our website at
        <a href="http://startbootstrap.com/template-categories/unstyled"></a>.</p>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
