<!DOCTYPE html>
<html lang="en, pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Historico Locação</title>
 
    <!-- Bootstrap core CSS -->
    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

    
	

  </head>

  <body>
 <!-- Navigation -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">iSport</a> <!-- Nome do site emblema no canto esquerdo superior-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        
        
        <li class="nav-item">
          <a class="nav-link" href="cadastroDeEspacos.html">Cadastre seu Espaço</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Configurações
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="meusDadosIndex.html">Meus Dados</a>
              <a class="dropdown-item" href="meuEspaco.html">Meus Espaços</a>
            </div>
          </li>
        
      
        
      
          <li class="nav-item">
              <a class="nav-link" href="cadastroLogin.html">Registrar/Logar</a>
            </li>
        <li>
          <input class="form-control" type="text" placeholder="Pesquisa" aria-label="Pesquisa">
        </li>
       
    </ul>
  </div>
</div>
</nav>


    <header>
     
    </header>

    <!-- Page Content -->
    <div class="container">

      <div><h1 class="my-4">Historico de Locação</h1></div>
      <div><h2><small>Espaços alugados por você</small></h2></div> <br>

      <!-- Inicio -->
      <hr>
      <div class="row">
        
        <!--Imagem-->
        <div class="col-lg-4 mb-4">
              <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="text-center">
                                <a href="#">Nome do Espaço</a>
                            </h4>
                        </div>
                    </div>
                </div>

      <!--fim Imagem-->

     <!--Tabela endereços-->
     <div class="col-lg-5 mb-5">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" colspan="3" class="text-center">Informações</th>
                </tr>
                  </thead>
                    <tbody>
                      <tr>
                    <th scope="row">Endereço</th>
                  <td>Av Av Exemplo do Exemplo nº 0</td>
                </tr>
              <tr>
            <th scope="row">Data de entrada</th>
          <td>00/00/0000</td>
        </tr>
        <tr>
            <th scope="row">Data de saída</th>
              <td>00h00</td>                    
                </tr>
      <tr>
    <th scope="row">Horário de entrada</th>
      <td>00h00</td>                    
        </tr>
        <tr>
            <th scope="row">Horário de saída</th>
              <td>00h00</td>                    
                </tr>
          </tbody>
            </table>
              </div>         
                <!--fim Tabela-->
 
   
   
                  <!--Avaliação-->
                  <!--Action lugar onde o botão avaliar vai enviar a nota-->
                  <div class="col-lg-3 mb-3">
                    <div class="text-center">
                      <h2>Avalie o Local</h2><br>
                       
                          <form method="POST" action="#" enctype="multipart/form-data">

			<div class="estrelas1" >

        
				<input type="radio" id="vazio" name="estrela1" value="" checked>
				
				<label for="estrela_um1"><i class="fa"></i></label>
				<input type="radio" id="estrela_um1" name="estrela1" value="1">
				
				<label for="estrela_dois1"><i class="fa"></i></label>
				<input type="radio" id="estrela_dois1" name="estrela1" value="2">
				
				<label for="estrela_tres1"><i class="fa"></i></label>
				<input type="radio" id="estrela_tres1" name="estrela1" value="3">
				
				<label for="estrela_quatro1"><i class="fa"></i></label>
				<input type="radio" id="estrela_quatro1" name="estrela1" value="4">
				
				<label for="estrela_cinco1"><i class="fa"></i></label>
				<input type="radio" id="estrela_cinco1" name="estrela1" value="5"><br><br>
      
				
        <input type="submit" class="btn btn-outline-secondary" value="Avaliar"><br><br>
        <a class="btn btn-danger" href="reportar.html" role="button">Reportar</a>
      </div>

</form>
                  </div>
                  
                </div>
          

      </div>
      <!-- Fim -->

<hr>

      <!-- Inicio -->
      
      <div class="row">
        
          <!--Imagem-->
          <div class="col-lg-4 mb-4">
                <div class="card h-100">
                          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                          <div class="card-body">
                              <h4 class="text-center">
                                  <a href="#">Nome do Espaço</a>
                              </h4>
                          </div>
                      </div>
                  </div>
  
        <!--fim Imagem-->
  
        <!--Tabela endereços-->
        <div class="col-lg-5 mb-5">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" colspan="3" class="text-center">Informações</th>
                    </tr>
                      </thead>
                        <tbody>
                          <tr>
                        <th scope="row">Endereço</th>
                      <td>Av Av Exemplo do Exemplo nº 0</td>
                    </tr>
                  <tr>
                <th scope="row">Data de entrada</th>
              <td>00/00/0000</td>
            </tr>
            <tr>
                <th scope="row">Data de saída</th>
                  <td>00h00</td>                    
                    </tr>
          <tr>
        <th scope="row">Horário de entrada</th>
          <td>00h00</td>                    
            </tr>
            <tr>
                <th scope="row">Horário de saída</th>
                  <td>00h00</td>                    
                    </tr>
              </tbody>
                </table>
                  </div>         
                    <!--fim Tabela-->
   
     
     
                    <!--Avaliação-->
                    <!--Action lugar onde o botão avaliar vai enviar a nota-->
          <div class="col-lg-3 mb-3">
            <div class="text-center">
              <h2>Avalie o Local</h2><br>
                
                  <form method="POST" action="#" enctype="multipart/form-data">
                    <div class="estrelas2">
                      <input type="radio" id="vazio" name="estrela2" value="" checked>
          
          <label for="estrela_um2"><i class="fa"></i></label>
          <input type="radio" id="estrela_um2" name="estrela2" value="1">
          
          <label for="estrela_dois2"><i class="fa"></i></label>
          <input type="radio" id="estrela_dois2" name="estrela2" value="2">
          
          <label for="estrela_tres2"><i class="fa"></i></label>
          <input type="radio" id="estrela_tres2" name="estrela2" value="3">
          
          <label for="estrela_quatro2"><i class="fa"></i></label>
          <input type="radio" id="estrela_quatroo" name="estrela2" value="4">
          
          <label for="estrela_cinco2"><i class="fa"></i></label>
          <input type="radio" id="estrela_cinco2" name="estrela2" value="5"><br><br>
          
          
          <input type="submit" class="btn btn-outline-secondary" value="Avaliar"><br><br>
          <a class="btn btn-danger" href="reportar.html" role="button">Reportar</a>
</div>
                    </div>
                  </form>
                </div>
              </div>
        <!-- Fim -->

        <hr>

      <!-- Inicio -->

      <div class="row">
        
          <!--Imagem-->
          <div class="col-lg-4 mb-4">
                <div class="card h-100">
                          <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                          <div class="card-body">
                              <h4 class="text-center">
                                  <a href="#">Nome do Espaço</a>
                              </h4>
                          </div>
                      </div>
                  </div>
  
        <!--fim Imagem-->
  
       <!--Tabela endereços-->
       <div class="col-lg-5 mb-5">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" colspan="3" class="text-center">Informações</th>
                  </tr>
                    </thead>
                      <tbody>
                        <tr>
                      <th scope="row">Endereço</th>
                    <td>Av Av Exemplo do Exemplo nº 0</td>
                  </tr>
                <tr>
              <th scope="row">Data de entrada</th>
            <td>00/00/0000</td>
          </tr>
          <tr>
              <th scope="row">Data de saída</th>
                <td>00h00</td>                    
                  </tr>
        <tr>
      <th scope="row">Horário de entrada</th>
        <td>00h00</td>                    
          </tr>
          <tr>
              <th scope="row">Horário de saída</th>
                <td>00h00</td>                    
                  </tr>
            </tbody>
              </table>
                </div>         
                  <!--fim Tabela-->
   
     
     
                    <!--Avaliação-->
                    <!--Action lugar onde o botão avaliar vai enviar a nota-->
          <div class="col-lg-3 mb-3">
            <div class="text-center">
              <h2>Avalie o Local</h2><br>
                
                  <form method="POST" action="#" enctype="multipart/form-data">
                    <div class="estrelas3">
                      <input type="radio" id="vazio" name="estrela3" value="" checked>
          
          <label for="estrela_um3"><i class="fa"></i></label>
          <input type="radio" id="estrela_um3" name="estrela3" value="1">
          
          <label for="estrela_dois3"><i class="fa"></i></label>
          <input type="radio" id="estrela_dois3" name="estrela3" value="2">
          
          <label for="estrela_tres3"><i class="fa"></i></label>
          <input type="radio" id="estrela_tres3" name="estrela3" value="3">
          
          <label for="estrela_quatro3"><i class="fa"></i></label>
          <input type="radio" id="estrela_quatro3" name="estrela3" value="4">
          
          <label for="estrela_cinco3"><i class="fa"></i></label>
          <input type="radio" id="estrela_cinco3" name="estrela3" value="5"><br><br>
          
         
      
            
          <input type="submit" class="btn btn-outline-secondary" value="Avaliar"><br><br>
        
          <a class="btn btn-danger" href="reportar.html" role="button">Reportar</a>
        </div>
                    </div>
                  </form>
                </div>
              </div></div>
        <!-- Fim -->
      

      <hr>

        
      
 
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
