<!DOCTYPE html>
<html lang="en, pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Bem vindo</title>
 
    <!-- Bootstrap core CSS -->
    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

    
	

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="index.html">iSport</a> <!-- Nome do site emblema no canto esquerdo superior-->
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              
              
              <li class="nav-item">
                <a class="nav-link" href="index.jsp">Gerenciamento de Espaços</a>
              </li>

              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Opções
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                    <a class="dropdown-item" href="PesquisaAdminController">Administrador</a>
                    <a class="dropdown-item" href="PesquisaClienteController">Cliente</a>
                    <a class="dropdown-item" href="PesquisaReservaController">Reservas</a>
                    <a class="dropdown-item" href="PesquisaReembolsoController">Reembolso</a>
                    <a class="dropdown-item" href="PesquisaPagamentoController">Pagamento</a>
                    <a class="dropdown-item" href="PesquisaModalidadeController">Modalidade</a>
                    <a class="dropdown-item" href="PesquisaIrregularidadeController">Irregularidade</a>
                    <a class="dropdown-item" href="PesquisaTipoEspacoController">Tipo de Espaço</a>
                    <a class="dropdown-item" href="PesquisaEspacoController">Espaços</a>
                    <a class="dropdown-item" href="PesquisaDisponibilidadeController">Disponibilidade</a>
                    <a class="dropdown-item" href="PesquisaContatoController">Contato</a>
                    <a class="dropdown-item" href="PesquisaCartaoController">Cartão</a>
                    
                    
                </li>
              
            
              
            
                <li class="nav-item">
                    <a class="nav-link" href="cadastroLogin.html">Registrar/Logar</a>
                  </li>
              <li>
                <input class="form-control" type="text" placeholder="Pesquisa" aria-label="Pesquisa">
              </li>
             
          </ul>
        </div>
      </div>
    </nav>


    <!-- Page Content -->
    <div class="container">

      <div><h1 class="my-4">iSport </h1></div>
      

      
      <hr>
      <div class="row">
<!--Inicio -->
          <div class="col">
            <div class="col-sm-12">
              <h1 class="text-center">Encontre o seu espaço e compare preços</h1><hr> <br><br> 
                </div> 
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-11">
                        <input class="form-control " type="text" placeholder="Ex: Volei de areia" aria-label="Pesquisa">     
                      </div>
                    <div class="col-lg-1">
                  <a class="btn btn-danger text-center" href="busca.html" role="button">Buscar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <hr>
    
          <!--Fim -->

         
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
      
          
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p> 
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
  </html>
