<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Meus espaços</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

      <style>
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 70%;
      }

      td, th,tr {

      border: 1px solid #dddddd;
      text-align: left;
      padding: 15px;
      }
      .button {
          text-align: center;
          padding: 2%;
      }
          .footer{
              bottom: 0;
              position: relative;
              width: 100%;
              text-align: center;
          }
</style>
  </head>

  <body>
 <!-- Navigation -->
 <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">iSport</a> <!-- Nome do site emblema no canto esquerdo superior-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        
        
        <li class="nav-item">
          <a class="nav-link" href="cadastroDeEspacos.html">Cadastre seu Espaço</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Configurações
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="meusDadosIndex.html">Meus Dados</a>
              <a class="dropdown-item" href="meuEspaco.html">Meus Espaços</a>
            </div>
          </li>
        
      
        
      
          <li class="nav-item">
              <a class="nav-link" href="cadastroLogin.html">Registrar/Logar</a>
            </li>
        <li>
          <input class="form-control" type="text" placeholder="Pesquisa" aria-label="Pesquisa">
        </li>
       
    </ul>
  </div>
</div>
</nav>


    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Meus Espaços -
        <small>Espaço x</small>
      </h1>

      <!-- Content Row -->
      <div class="row">
        <!-- Sidebar Column -->
        <div class="col-lg-3 mb-4">
          <div class="list-group">
            <a href="index.html" class="list-group-item">Home</a>
            <a href="meusDadosIndex.html" class="list-group-item">Meus Dados</a>
            <a href="meuEspaco.html" class="list-group-item">Meus Espaços</a>
            

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="analiseReembolso.html">Analise</a>
                <a class="dropdown-item" href="historicoDono.html">Historico de Locações</a>
              </div>
          </div>
        </div>
        <!-- Content Column -->
        <div class="col-lg-9 mb-4">
            <body>

            <table align="center">
                <tr>
                    <td>Nome do Estabelecimento: </td>
                    <td>Local x</td>
                </tr>
                <tr>
                    <td>CEP: </td>
                    <td>00000-000</td>
                </tr>
                <tr>
                    <td>Estado:</td>
                    <td>Estado x</td>
                </tr>
                <tr>
                    <td>Cidade:</td>
                    <td>Cidade x</td>
                </tr>
                <tr>
                    <td>Bairro:</td>
                    <td>Bairro x</td>
                </tr>
                <tr>
                    <td>Rua:</td>
                    <td>Rua x</td>
                </tr>
                <tr>
                    <td>Número:</td>
                    <td>Número x</td>
                </tr>
                <tr>
                    <td>Complemento:</td>
                    <td>Complemento x</td>
                </tr>
                <tr>
                    <td>Telefone:</td>
                    <td>(00)0000-0000</td>
                </tr>
                <tr>
                    <td>Mais...:</td>
                </tr>
            </table>
            <div class="button" >
                <a href="editarEspacos.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Editar</a>
            </div>
            </body>
        </div>
      </div>
    </div>
      <!-- /.row -->

    <!-- /.container -->

    <!-- Footer -->
        <body>
        <div class="footer">
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
      <!-- /.container -->
    </footer>
        </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
  </body>

</html>
