<!DOCTYPE html>
<html lang="pt">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reserva</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
      <style>
          .footer{
              bottom: 0;
              position: relative;
              width: 100%;
              text-align: center;
          }
          table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
          }

          td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
          }
          .controls1{
              width: 16%;
          }
      </style>

  </head>

  <body>

    
   <!-- Navigation -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="index.html">iSport</a> <!-- Nome do site emblema no canto esquerdo superior-->
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              
              
              <li class="nav-item">
                <a class="nav-link" href="cadastroDeEspacos.html">Cadastre seu Espaço</a>
              </li>
    
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Configurações
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                    <a class="dropdown-item" href="meusDadosIndex.html">Meus Dados</a>
                    <a class="dropdown-item" href="meuEspaco.html">Meus Espaços</a>
                  </div>
                </li>
              
            
              
            
                <li class="nav-item">
                    <a class="nav-link" href="cadastroLogin.html">Registrar/Logar</a>
                  </li>
              <li>
                <input class="form-control" type="text" placeholder="Pesquisa" aria-label="Pesquisa">
              </li>
             
          </ul>
        </div>
      </div>
    </nav>
    
    
        <!-- Page Content -->
        <div class="container">
    
          <!-- Page Heading/Breadcrumbs -->
          <h1 class="mt-4 mb-3">Reserva</h1>
    
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Reserva de Espaço</li>
          </ol>
    
          <!--
          <div class="row">
            <div class="col-lg-6 portfolio-item">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a>Informações</a>
                  </h4>
                  <p class="card-text">Complemento: </p>
                    <p class="card-text">Área(m²): </p>
                    <p class="card-text">Características: </p>
                </div>
              </div>
            </div>
          </div> -->
          
            <div class="row">
                <div class="col-lg-10 mb-4">
    
                    <form name="reserva" id="reserva" novalidate>
                        <div class="control-group form-group">
                            <div class="controls1">
                                <label>dia/mês/ano</label>
                                <input type="text" class="form-control" id="data" placeholder="00/00/0000" required data-validation-required-message="Informe a data.">
                                <p class="help-block"></p>
                            </div>
                        </div>
                        <div class="control-group form-group">
                            <div class="controls1">
                                <label>Hora de Início</label>
                                <input type=horai class="form-control" id="horai" placeholder="00:00" required data-validation-required-message="Informe a hora de início.">
                            </div>
                        </div>
                        <div class="control-group form-group">
                        <div class="controls1">
                            <label>Hora Fim</label>
                            <input type="horaf" class="form-control" id="horaf" placeholder="00:00" required data-validation-required-message="Informe a hora fim.">
                        </div>
                            
                              <div class="control-group form-group">
                            <div class="controls1">
                                <label>Quantidade Estimada de Pessoas</label>
                                <input type="qtpessoas" class="form-control" id="qtpessoas" placeholder="00">
                            </div>
                        </div>
                            
                            <div class="controls1">
                            <label>Preço</label>
                             <input type="text" class="form-control" id="horaf" placeholder="R$ 00,0" required data-validation-required-message="Informe o valor.">
                        </div>
                            
                            <div class="controls1">
                            <label>Avaliação</label>
                             <input type="text" class="form-control" id="horaf" placeholder="Nota de 1 a 5" required data-validation-required-message="Informe o valor da Nota">
                        </div>
                    </div>
                
                      
                   
                        
                        <div id="success"></div>
                        <!-- For success/fail messages -->
                        <a href="cancelarReservas.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Reservar</a>
                    </form>
                </div>
    
            </div>
          <!-- /.row -->
    
        </div>
        <!-- /.container -->
        <!-- Footer -->
    <div class="footer">
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
