<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">

        <servlet>
            <servlet-name>PesquisaAdminController</servlet-name>
            <servlet-class>controller.PesquisaAdminController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PesquisaAdminController</servlet-name>
            <url-pattern>/PesquisaAdminController</url-pattern>
        </servlet-mapping>

    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PesquisaIrregularidadeController</servlet-name>
        <servlet-class>controller.PesquisaIrregularidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaIrregularidadeController</servlet-name>
        <url-pattern>/PesquisaIrregularidadeController</url-pattern>
    </servlet-mapping>

</web-app>
