<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
        <servlet>
            <servlet-name>PesquisaAdminController</servlet-name>
            <servlet-class>controller.PesquisaAdminController</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>PesquisaAdminController</servlet-name>
            <url-pattern>/PesquisaAdminController</url-pattern>
        </servlet-mapping>

    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PesquisaIrregularidadeController</servlet-name>
        <servlet-class>controller.PesquisaIrregularidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaIrregularidadeController</servlet-name>
        <url-pattern>/PesquisaIrregularidadeController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PesquisaContatoController</servlet-name>
        <servlet-class>controller.PesquisaContatoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaContatoController</servlet-name>
        <url-pattern>/PesquisaContatoController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PesquisaTipoEspacoController</servlet-name>
        <servlet-class>controller.PesquisaTipoEspacoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaTipoEspacoController</servlet-name>
        <url-pattern>/PesquisaTipoEspacoController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaModalidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <url-pattern>/PesquisaModalidadeController</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <servlet-class>controller.PesquisaPagamentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <url-pattern>/PesquisaPagamentoController</url-pattern>
    </servlet-mapping>
</web-app>
