<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManterAdministradorController</servlet-name>
        <servlet-class>controller.ManterAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAdminClienteController</servlet-name>
        <servlet-class>controller.ManterAdminClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAdminClienteController</servlet-name>
        <servlet-class>controller.PesquisaAdminClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAdminEspacoController</servlet-name>
        <servlet-class>controller.PesquisaAdminEspacoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAdminEspacoController</servlet-name>
        <servlet-class>controller.ManterAdminEspacoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterAdminModalidadeController</servlet-name>
        <servlet-class>controller.ManterAdminModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAdminModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaAdminModalidadeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportCliente</servlet-name>
        <servlet-class>relatorio.ReportCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPagamento</servlet-name>
        <servlet-class>relatorio.ReportPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportCartao</servlet-name>
        <servlet-class>relatorio.ReportCartao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAdministradorController</servlet-name>
        <servlet-class>relatorio.ReportAdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPagamentoController</servlet-name>
        <servlet-class>relatorio.ReportPagamentoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportReembolsoController</servlet-name>
        <servlet-class>relatorio.ReportReembolsoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportReservaController</servlet-name>
        <servlet-class>relatorio.ReportReservaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportAdminParametro</servlet-name>
        <servlet-class>relatorio.ReportAdminParametro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportReservaParam</servlet-name>
        <servlet-class>relatorio.ReportReservaParam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdministradorController</servlet-name>
        <url-pattern>/ManterAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterReembolsoController</servlet-name>
        <servlet-class>controller.ManterReembolsoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterReembolsoController</servlet-name>
        <url-pattern>/ManterReembolsoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterCartaoController</servlet-name>
        <servlet-class>controller.ManterCartaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterCartaoController</servlet-name>
        <url-pattern>/ManterCartaoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterContatoController</servlet-name>
        <servlet-class>controller.ManterContatoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterContatoController</servlet-name>
        <url-pattern>/ManterContatoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterDisponibilidadeController</servlet-name>
        <servlet-class>controller.ManterDisponibilidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterDisponibilidadeController</servlet-name>
        <url-pattern>/ManterDisponibilidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterEspacoController</servlet-name>
        <servlet-class>controller.ManterEspacoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterEspacoController</servlet-name>
        <url-pattern>/ManterEspacoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterIrregularidadeController</servlet-name>
        <servlet-class>controller.ManterIrregularidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterIrregularidadeController</servlet-name>
        <url-pattern>/ManterIrregularidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterModalidadeController</servlet-name>
        <servlet-class>controller.ManterModalidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterModalidadeController</servlet-name>
        <url-pattern>/ManterModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterPagamentoController</servlet-name>
        <servlet-class>controller.ManterPagamentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterPagamentoController</servlet-name>
        <url-pattern>/ManterPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterReservaController</servlet-name>
        <servlet-class>controller.ManterReservaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterReservaController</servlet-name>
        <url-pattern>/ManterReservaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManterTipoEspacoController</servlet-name>
        <servlet-class>controller.ManterTipoEspacoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterTipoEspacoController</servlet-name>
        <url-pattern>/ManterTipoEspacoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaAdminController</servlet-name>
        <servlet-class>controller.PesquisaAdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaAdminController</servlet-name>
        <url-pattern>/PesquisaAdminController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaCartaoController</servlet-name>
        <servlet-class>controller.PesquisaCartaoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCartaoController</servlet-name>
        <url-pattern>/PesquisaCartaoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaContatoController</servlet-name>
        <servlet-class>controller.PesquisaContatoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaContatoController</servlet-name>
        <url-pattern>/PesquisaContatoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaDisponibilidadeController</servlet-name>
        <servlet-class>controller.PesquisaDisponibilidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaDisponibilidadeController</servlet-name>
        <url-pattern>/PesquisaDisponibilidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaEspacoController</servlet-name>
        <servlet-class>controller.PesquisaEspacoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaEspacoController</servlet-name>
        <url-pattern>/PesquisaEspacoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaIrregularidadeController</servlet-name>
        <servlet-class>controller.PesquisaIrregularidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaIrregularidadeController</servlet-name>
        <url-pattern>/PesquisaIrregularidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <servlet-class>controller.PesquisaModalidadeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaModalidadeController</servlet-name>
        <url-pattern>/PesquisaModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <servlet-class>controller.PesquisaPagamentoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaPagamentoController</servlet-name>
        <url-pattern>/PesquisaPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaReservaController</servlet-name>
        <servlet-class>controller.PesquisaReservaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaReservaController</servlet-name>
        <url-pattern>/PesquisaReservaController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaTipoEspacoController</servlet-name>
        <servlet-class>controller.PesquisaTipoEspacoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaTipoEspacoController</servlet-name>
        <url-pattern>/PesquisaTipoEspacoController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PesquisaReembolsoController</servlet-name>
        <servlet-class>controller.PesquisaReembolsoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaReembolsoController</servlet-name>
        <url-pattern>/PesquisaReembolsoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdminClienteController</servlet-name>
        <url-pattern>/ManterAdminClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAdminClienteController</servlet-name>
        <url-pattern>/PesquisaAdminClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAdminEspacoController</servlet-name>
        <url-pattern>/PesquisaAdminEspacoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdminEspacoController</servlet-name>
        <url-pattern>/ManterAdminEspacoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterAdminModalidadeController</servlet-name>
        <url-pattern>/ManterAdminModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAdminModalidadeController</servlet-name>
        <url-pattern>/PesquisaAdminModalidadeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportCliente</servlet-name>
        <servlet-class>relatorio.ReportCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportCliente</servlet-name>
        <url-pattern>/ReportCliente</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportContato</servlet-name>
        <servlet-class>relatorio.ReportContato</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportContato</servlet-name>
        <url-pattern>/ReportContato</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportCartao</servlet-name>
        <servlet-class>relatorio.ReportCartao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportCartao</servlet-name>
        <url-pattern>/ReportCartao</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportDisponibilidade</servlet-name>
        <servlet-class>relatorio.ReportDisponibilidade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportDisponibilidade</servlet-name>
        <url-pattern>/ReportDisponibilidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportAdministradorController</servlet-name>
        <url-pattern>/ReportAdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPagamentoController</servlet-name>
        <url-pattern>/ReportPagamentoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportReembolsoController</servlet-name>
        <url-pattern>/ReportReembolsoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportReservaController</servlet-name>
        <url-pattern>/ReportReservaController</url-pattern>
    </servlet-mapping>
    <!-- 

    <error-page>
        <error-code>500</error-code>
        <location>/erro500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/erro404.jsp</location>
    </error-page>
    -->
    <servlet-mapping>
        <servlet-name>ReportAdminParametro</servlet-name>
        <url-pattern>/ReportAdminParametro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportReservaParam</servlet-name>
        <url-pattern>/ReportReservaParam</url-pattern>
    </servlet-mapping>
</web-app>
