<!DOCTYPE html>
<html lang="en, pt-br">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Incluir Nova Modalidade</title>
 
    <!-- Bootstrap core CSS -->
    
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

    
	

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">iSport</a> <!-- Nome do site emblema no canto esquerdo superior-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            
              
            <li class="nav-item">
              <a class="nav-link" >Administrador Fulano de tal</a>
            </li>
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Modalidades
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  
                  <a class="dropdown-item" href="#">Relatórios</a>
                  <a class="dropdown-item" href="#">Configurações</a>

                  <a class="dropdown-item" href="#">Sair</a>
                  
                </div>
              </li>
            
              <li>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
     
    </header>

    <!-- Page Content -->
    <div class="container">

      <div><h1 class="my-4">Área do administrador </h1></div>
      <div><h3><small>Bem vindo(a)!</small></h3></div> <br>

      
      <hr>
      <div class="row">

        <!-- Inicio  Menu -->
        <div class="container">
          <div class="row">
              <div class="col">
            
            <a class="btn btn-dark btn-block" href="adminIncluirmodalidade.html" role="button">Incluir modalidade</a> <br> <br>
            </div>
            <div class="col">
            <a class="btn btn-dark btn-block" href="adminIncluirespaco.html" role="button">Incluir Espaço</a> <br> <br>
          </div> 
          <div class="col"> 
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gerenciar Cadastros
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="adminExcluircliente.html">Excluir Clientes</a>
                  <a class="dropdown-item" href="adminExcluirespaco.html">Excluir Espaços</a>
                </div> 
                </div>
              </div>
              </div>
              
              
            <br><br><br>
                </div>
                <!-- Fim Menu -->

              
          <!--Inicio -->
          <div class="col">
            <div class="col-sm-12">
              <h1 class="text-center">Cadastro de novas modalidades</h1><hr> <br><br>
            </div>
            <label  for="txtproduto">Nome da modalidade: </label>  
                <input id="txtproduto" name="txtproduto" type="text" class="form-control input-md" required="" placeholder="Nome da nova modalidade"><br><br>
                  
                      
                            <br><br>
                            <a href="adminIncluirModalidade.html" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Confirmar</a>
                      </div>
                    
          <!--Fim -->
              
              

          </div>
        </div>

         
             
            
          </div>
<br><br><br>
        
        
      
          
      </div>
 
      <!-- fim Menu -->

      <!-- <Forms -->
       
                  
             
              
                </div>
                
              </div>
              
              
              
              
            </form>


          
          </div>


            </div></div>

    

        
      

      <hr>

    </div>
      
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
